<h1> Thank you for submitting your contact request to Consulting Benefits</h1>
<BR> <h2> We will be in contact with you shortly </h2>
<BR> <h2> Feel free to call or email us if this matter is urgent </h2>
<BR><BR>
  <%= link_to "Click Here to return home", contacts_path %>
